.result-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  color: #ffffff;
}
.result-container {
  text-align: center;
  color: #ffffff;
}
.result-img {
  background-color: #223a5f;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border: 0px;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10%;
  border-radius: 10px;
  width: 150px;
}
.btn {
  color: #223a5f;
  background-color: #ffffff;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  border: 0px;
  cursor: pointer;
  align-self: flex-end;

  border-radius: 10px;
}
